extends frame.pug

block body
  div(align='center')
    h1= title
    if page.rules
      h2 ルール
      each rule in page.rules
        p !{rule}
    if page.option && page.option.point
      h2 ポイント
      h3#point 0
    #p5Canvas

    if page.option && page.option.time
      h2 タイム
      h3#score 0
      h2 最高タイム
      h3#hiscore 0
    else
      h2 スコア
      h3#score 0
      h2 ハイスコア
      h3#hiscore 0
    if page.addition
      each ad in page.addition
        h2(id="#{ad.id}")= ad.text
        h3 0

    h2 prize
    - var sp=' '
    h3
      span#queen ♛
      | #{sp}
      span#q_score= page.q_score
    h3
      span#king ♚
      | #{sp}
      span#k_score= page.k_score
  a(href='../') 他のゲームとか
  script(src="./js/jquery-1.11.3.min.js" charset="utf-8")
  script(src="./js/p5.min.js" charset="utf-8")
  script(src="./js/moment.min.js" charset="utf-8")
  script(src="./js/storage.js" charset="utf-8")
  script(src="./js/" + page.name + ".js" charset="utf-8")
